<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" id="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width" />
    <meta httpEquiv="X-UA-Compatible" content="ie=edge" />
    <title>온라인 쇼핑</title>
    <meta
            name="description"
            content=""
    />
    <meta
            name="keywords"
            content=""
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="email=no" />
    <link rel="stylesheet" type="text/css" href="//event.co.kr/html/promotion/2023/04/0401_handle/handle.css?dummy=230401" />
    <link rel="stylesheet" type="text/css" href="<%= urls.script %>/pc/css/common/kr/ui/desktop_layout.css" />

    <%- writeInjection({ data }) %>
    <script type="text/javascript" src="//script.co.kr/jQuery/1.7.1/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="<%= urls.script %>/fnp/desktop-layout.js"></script>
    <script type="text/javascript" src="<%= urls.self %>/handlemobility.js" defer></script>

</head>
<body>
<div id="header"></div>
<script>
    DesktopLayout.render([
        { name: 'Header', params: defaultHeaderParams, container: document.getElementById('header') },
    ]);
</script>
<div id="container">
    <div id="event__wrapper" class="section__event">
        <div class="box__event--header">
            <div class="box__top-visual">
                <h2 class="for-a11y">클럽이라면 대리운전도 남다르게</h2>
                <span class="for-a11y">음주운전 ZERO</span>
            </div>
        </div>
        <div class="box__event--container">
            <div class="box__section1">
                <div class="for-a11y">
                    <h3>클럽은 대리운전</h3>
                    <p>약속이 많아지는 계절, 안전 귀가도 잊지 마세요</p>
                    <p>새로운 서비스를 경험해 보세요</p>
                    <p>쉽게 부르는 대리운전 앱</p>
                    <ul>
                        <li>대리 호출 현황 한눈에 보고</li>
                        <li>스마일페이로 빠르게 결제하고</li>
                        <li>지인에게 대리를 대신 불러 주기도 OK</li>
                    </ul>
                </div>
            </div>
            <div class="box__section2">
                <div class="box__content1 box__content--multiple">
                    <div class="box__content-inner">
                        <div class="for-a11y">
                            <h3>할인혜택 1</h3>
                            <p>클럽은 대리운전도 할인</p>
                            <p>대리 1만원 할인쿠폰</p>
                            <ul>
                                <li>클럽 회원 전용 쿠폰</li>
                                <li>2023.12.31까지 1회 발급</li>
                                <li>최소이용요금 : 15,000원 이상</li>
                            </ul>
                        </div>
                        <button type="button" class="button__layer" cpntype="MyCode"><span class="for-a11y">나의 쿠폰 코드 확인</span></button>
                        <a href="javascript:alert('핸들대리 모바일 앱에서 쿠폰 코드 입력이 가능합니다.')" class="button"><span class="for-a11y">쿠폰 코드 입력하러 가기</span></a>
                        <p class="for-a11y">나의 쿠폰 코드를 복사하여 대리 앱에서 입력 시 쿠폰이 등록됩니다.</p>
                    </div>
                    <div class="box__content-inner">
                        <div class="for-a11y">
                            <h3>할인혜택 2</h3>
                            <p>클럽은 날마다 혜택</p>
                            <p>대리 매일 2천원 할인쿠폰</p>
                            <ul>
                                <li>클럽 회원 전용 쿠폰</li>
                                <li>2023.12.31까지 매일 발급</li>
                                <li>최소이용요금 : 10,000원 이상</li>
                            </ul>
                        </div>
                        <button type="button" class="button__layer" cpntype="MyDayCode"><span class="for-a11y">나의 쿠폰 코드 확인</span></button>
                        <a href="javascript:alert('대리 모바일 앱에서 쿠폰 코드 입력이 가능합니다.')" class="button"><span class="for-a11y">쿠폰 코드 입력하러 가기</span></a>
                        <p class="for-a11y">나의 쿠폰 코드를 복사하여 대리 앱에서 입력 시 쿠폰이 등록됩니다.</p>
                    </div>
                </div>
                <div class="box__content2">
                    <div class="for-a11y">
                        <h3>쿠폰 등록방법</h3>
                        <p>대리 호출 전에 미리 쿠폰을 등록해보세요</p>
                        <p>앱 메인 > 메뉴 > 쿠폰 등록 쿠폰번호 붙여넣기 후 조회 > 쿠폰 등록완료</p>
                        <p>대리를 이용하지 않는다면, 쿠폰번호를 지인에게 선물해 보세요!</p>
                    </div>
                </div>
                <div class="box__content3">
                    <div class="for-a11y">
                        <h3>적립 혜택</h3>
                        <p>대리운전도 한도 없이 적립 페이 결제 시 최대 7%적립</p>
                        <ul>
                            <li>누구나 - 대리 페이 결제 시마다 스마일캐시 5% 적립 (결제일로부터 1일 후 적립)</li>
                            <li>카드로 결제하면 - 적립 한도, 횟수 제한 없이 스마일캐시 2% 추가 적립 (결제일로부터 30일 후 적립)</li>
                        </ul>
                    </div>
                </div>
                <div class="box__content4">
                    <div class="for-a11y">
                        <h3>앱 다운방법</h3>
                        <p>이벤트 참여를 위해서는 대리 앱이 필요해요!</p>
                    </div>
                    <a href="javascript:alert('모바일에서 대리 앱을 다운로드해 주세요.')" class="button"><span class="for-a11y">앱 다운받기</span></a>
                    <p class="for-a11y">앱 스토어에서 앱을 검색하거나 위 QR코드를 휴대폰 카메라로 찍어보세요.</p>
                </div>
            </div>
            <div class="box__section3">
                <div class="for-a11y">
                    <h3>대리 페이 등록 방법</h3>
                    <ul>
                        <li>① 대리앱 > 간편결제관리 스마일페이 선택</li>
                        <li>② 페이 정기(자동)결제 비밀번호 입력</li>
                        <li>③ 페이 정기(자동)결제 대표 결제수단 선택</li>
                        <li>④ 대리앱 > 간편결제관리 스마일페이 등록완료</li>
                    </ul>
                </div>
            </div>
            <div class="box__section4">
                <div class="for-a11y">
                    <h3>핸들대리 스마일페이 결제 방법</h3>
                    <ul>
                        <li>① 출발/도착지 선택</li>
                        <li>② 추천 요금 설정</li>
                        <li>③ 할인쿠폰 적용 결제수단 스마일페이 선택</li>
                        <li>④ 대리기사 호출 진행 (운행 완료 시 스마일페이로 자동 결제됩니다.)</li>
                    </ul>
                </div>
            </div>
            <div class="box__section5">
                <div class="for-a11y">
                    <h3>꼭 확인해주세요!</h3>
                    <strong>1만원 할인쿠폰</strong>
                    <ul>
                        <li>대상 10,000원 할인쿠폰 지급</li>
                        <li>대리 호출 이용금 15,000원 이상 시 쿠폰 적용 가능</li>
                        <li>클럽이라면 연 1회 해당 쿠폰 등록 가능</li>
                    </ul>
                    <strong>클럽 매일 2천원 할인쿠폰</strong>
                    <ul>
                        <li>클럽 대상 매일 2,000 원 할인쿠폰 지급</li>
                        <li>대리 호출 이용금 10,000원 이상 시 쿠폰적용 가능</li>
                        <li>클럽이라면 매일 해당 쿠폰 1 회 사용 가능</li>
                    </ul>
                    <strong>할인쿠폰 공통사항</strong>
                    <ul>
                        <li>앱에서 난수 쿠폰번호 등록시 사용 가능</li>
                        <li>등록방법 : 핸들대리 앱 메인 > 메뉴 > 쿠폰 등록 > 쿠폰번호 붙여넣기 > 쿠폰 등록완료</li>
                        <li>타 쿠폰과 중복 적용 불가</li>
                        <li>유효기간 : 2024년 12월 31일까지</li>
                        <li>유효기간 만료 후 재 발급 또는 기간 연장 불가</li>
                        <li>현금 또는 현금성 상품으로 교환이나 환불 불가</li>
                    </ul>
                    <strong>대리 스마일페이 결제 시 적립</strong>
                    <ul>
                        <li>대리 스마일페이 결제 시 스마일캐시 적립 (단, 핸들대리 충전금 결제 시에는 미 적립)</li>
                        <li>캐시는 각 결제건당 결제 완료 후 영업일 기준 1일 후 자동 적립</li>
                        <li>전회원, 스마일페이 카드 결제금액의 5%적립</li>
                        <li>유효기간 : 적립일로부터 2년</li>
                        <li>적립된 스마일캐시는 스마일페이 가맹점에서 사용 가능(일부 가맹점 제외)</li>
                        <li>유효기간 내 스마일캐시 미 사용 시 스마일캐시 자동 회수</li>
                        <li>캐시 적립 내역 확인 : 마이스마일페이(www.mysmilepay.com)</li>
                        <li>대리 이용 및 쿠폰 등록/사용 관련 문의 : 1877-9410</li>
                        <li>스마일페이 이용 및 스마일캐시 적립 관련 문의 : 1644-0739</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="box__event--layer">
            <!-- 비회원 -->
            <div id="divClub" class="box__layer box__layer--nomember" style="display:none">
                <div class="box__layer-inner">
                    <p class="text">클럽 회원만 받는 혜택입니다.</p>
                    <button type="button" class="button__ok">확인</button>
                    <button type="button" class="button__close"><span class="for-a11y">닫기</span></button>
                </div>
                <div class="dimmed"></div>
            </div>
            <!-- 회원 -->
            <div id="divMyCode" class="box__layer box__layer--member" style="display:none">
                <div class="box__layer-inner">
                    <h3 class="text__title">나의 쿠폰 코드</h3>
                    <div class="box__copy-content">
                        <input type="text" id="txtCodeCopy" class="form__input" readonly value="K5B25ZFVZVHB" />
                        <button type="button" class="button__copy" cpntype="CodeCopy">복사</button>
                    </div>
                    <button type="button" class="button__close"><span class="for-a11y">닫기</span></button>
                </div>
                <div class="dimmed"></div>
            </div>
        </div>
    </div>
</div>
<div id="footer"></div>
<script>
    DesktopLayout.render([
        { name: 'Footer', params: defaultHeaderParams, container: document.getElementById('footer') },
    ]);
</script>
</body>
</html>
